<div id="2003b9e2-3a30-4cdb-b7f0-8076d5db1508" class="plotly-graph-div"></div>
<script type="text/javascript">
    window.PLOTLYENV = window.PLOTLYENV || {};
    window.PLOTLYENV.BASE_URL = "https://plot.ly";
    Plotly.newPlot("2003b9e2-3a30-4cdb-b7f0-8076d5db1508", [{
        "type": "bar",
        "x": ["ALE", "AMARETTO", "ANISETTE, OUZO, OJEN", "APPLE BRANDY", "APRICOT BRANDY", "BEER", "BLENDED APPLE JACK BRANDY", "BLENDED BOURBON WHISKY", "BLENDED CORN WHISKY", "BLENDED LIGHT WHISKY", "BLENDED RYE WHISKY",
            "BLENDED WHISKY", "BLOODY MARY", "BOURBON WHISKY", "BOURBON WHISKY BIB", "BRANDY", "BRANDY - APRICOT FLAVORED", "BRANDY - BLACKBERRY FLAVORED", "BRANDY - COFFEE FLAVORED", "BRANDY - GINGER FLAVORED",
            "BRANDY - PEACH FLAVORED", "BRANDY APPLE FLAVORED", "CALIFORNIA BRANDY", "CALIFORNIA GRAPE BRANDY", "CARBONATED WINE", "CEREAL BEVERAGES - NEAR BEER (NON ALCOHOLIC)", "CHERRY BRANDY", "COCKTAILS 48 PROOF UP (CONT)",
            "COCKTAILS UNDER 48 PROOF", "COFFEE (CAFE) LIQUEUR", "CORDIALS (FRUIT & PEELS)", "CORDIALS (HERBS & SEEDS)", "CORN WHISKY", "CREME DE CACAO BROWN", "CREME DE CACAO WHITE", "CREME DE MENTHE GREEN", "CREME DE MENTHE WHITE",
            "CURACAO", "DAIQUIRI (UNDER 48 PROOF)", "DESSERT /PORT/SHERRY/(COOKING) WINE", "DESSERT FLAVORED WINE", "DESSERT FRUIT WINE", "DILUTED WHISKY", "DISTILLED GIN", "DOMESTIC FLAVORED RUM", "FLORIDA RUM (GOLD)",
            "FLORIDA RUM (WHITE)", "FRUIT BRANDY", "FRUIT FLAVORED LIQUEURS", "GIN", "GIN SPECIALTIES", "GRAIN SPIRITS", "HAWAIIAN RUM (GOLD)", "HERBS AND SEEDS SCHNAPPS LIQUEUR", "IMMATURE BRANDY", "LEES BRANDY", "LIGHT WHISKY",
            "LIQUEUR & BRANDY", "LIQUEURS (GIN)", "LIQUEURS (RUM)", "LIQUEURS (WHISKY)", "LONDON DRY DISTILLED GIN", "LONDON DRY GIN", "MALT BEVERAGES", "MALT BEVERAGES SPECIALITIES - FLAVORED", "MALT LIQUOR",
            "MARGARITA (UNDER 48 PROOF)", "NEUTRAL BRANDY", "NEUTRAL SPIRITS - CANE", "NEUTRAL SPIRITS - GRAIN", "NEUTRAL SPIRITS - VEGETABLE", "OTHER (HERBS & SEEDS)", "OTHER BRANDY", "OTHER BRANDY - FLAVORED",
            "OTHER CALIFORNIA BRANDY", "OTHER COCKTAILS (UNDER 48 PROOF)", "OTHER COCTAILS (48PROOF UP)", "OTHER DISTILLED GIN", "OTHER DOMESTIC GRAPE BRANDY", "OTHER FOREIGN BRANDY (CONT.)", "OTHER FRUIT BRANDY",
            "OTHER FRUITS & PEELS LIQUEURS", "OTHER GIN", "OTHER GIN - FLAVORED", "OTHER GRAPE BRANDY (PISCO, GRAPPA) FB", "OTHER LIQUEUR (CREME OR CREAMS)", "OTHER NEW YORK BRANDY", "OTHER RUM (GOLD)", "OTHER RUM (WHITE)",
            "OTHER SPECIALTIES & PROPRIETARIES", "OTHER SPIRITS", "OTHER STRAIGHT BLENDED WHISKY", "OTHER STRAIGHT WHISKY", "OTHER WHISKY (FLAVORED)", "OTHER WHISKY BIB", "OTHER WHISKY BLENDS", "PEAR BRANDY", "PEPPERMINT SCHNAPPS",
            "PLUM BRANDY", "PORTER", "PUERTO RICAN RUM (GOLD)", "ROCK & RYE, RUM & BRANDY (ETC.)", "ROSE WINE", "RUM OTHER FLAVORED", "RUM SPECIALTIES", "RYE WHISKY", "RYE WHISKY BIB", "SAKE", "SAKE - DOMESTIC FLAVORED", "SLOE GIN",
            "SPARKLING WINE/CHAMPAGNE", "SPIRIT WHISKY", "STOUT", "STRAIGHT BOURBON WHISKY", "STRAIGHT CORN WHISKY", "STRAIGHT RYE WHISKY", "STRAIGHT RYE WHISKY BLENDS", "STRAIGHT WHISKY", "STRAIGHT WHISKY BLENDS",
            "TABLE FLAVORED WINE", "TABLE FRUIT WINE", "TABLE RED WINE", "TABLE WHITE WINE", "TRIPLE SEC", "U.S. RUM (GOLD)", "UR.S. RUM (WHITE)", "VERMOUTH/MIXED TYPES", "VIRGIN ISLANDS RUM (WHITE)", "VODKA",
            "VODKA - CHERRY FLAVORED", "VODKA - GRAPE FLAVORED", "VODKA - LEMON FLAVORED", "VODKA - LIME FLAVORED", "VODKA - ORANGE FLAVORED", "VODKA - OTHER FLAVORED", "VODKA 100 PROOF UP", "VODKA 80-90 PROOF", "VODKA SPECIALTIES",
            "WHISKY", "WHISKY BOTTLED IN BOND (BIB)", "WHISKY MANHATTAN (48 PROOF UP)", "WHISKY OLD FASHIONED (48 PROOF UP)", "WHISKY SOUR (UNDER 48 PROOF)", "WHISKY SPECIALTIES"
        ],
        "y": [6954, 5, 3, 41, 1, 1567, 1, 5, 3, 2, 4, 20, 4, 208, 5, 24, 2, 7, 1, 4, 1, 1, 12, 1, 59, 6, 6, 1, 3, 23, 4, 7, 56, 1, 1, 1, 1, 4, 3, 6942, 108, 40, 1, 4, 36, 14, 3, 2, 77, 256, 20, 3, 3, 5, 2, 1, 8, 1, 1, 1, 1, 5, 8, 6, 4465,
            7, 10, 2, 3, 10, 2, 114, 6, 11, 1, 7, 2, 3, 4, 2, 20, 70, 36, 12, 4, 20, 2, 86, 23, 563, 4, 4, 7, 131, 21, 6, 5, 7, 2, 240, 1, 8, 799, 3, 132, 104, 10, 12, 2, 1, 393, 9, 595, 152, 3, 34, 5, 3, 1, 1173, 673, 5688, 4301, 17,
            84, 19, 7, 1, 1, 13, 6, 20, 3, 14, 303, 17, 440, 169, 294, 1, 1, 6, 1, 112
        ]
    }], {
        "title": "Applications by Type",
        "xaxis": {
            "tickangle": -45
        },
        "margin": {
            "b": 200
        }
    }, {
        "showLink": true,
        "linkText": "Export to plot.ly"
    })
</script>
