<div id="27d9871a-be23-4831-b257-7143869c99b7" class="plotly-graph-div"></div>
<script type="text/javascript">
    window.PLOTLYENV = window.PLOTLYENV || {};
    window.PLOTLYENV.BASE_URL = "https://plot.ly";
    Plotly.newPlot("27d9871a-be23-4831-b257-7143869c99b7", [{
        "type": "bar",
        "x": ["WINE", "BEER", "WHISKY", "SPIRITS_MISC", "VODKA", "RUM", "GIN", "BRANDY"],
        "y": [20176, 13840, 1218, 996, 986, 414, 350, 163]
    }], {
        "title": "Applications by Type",
        "xaxis": {
            "tickangle": -45
        }
    }, {
        "showLink": false,
        "linkText": "Export to plot.ly"
    })
</script>
