<div id="be1b23d3-cbd7-4a2b-8da7-d367f7853961" class="plotly-graph-div"></div>
<script type="text/javascript">
    window.PLOTLYENV = window.PLOTLYENV || {};
    window.PLOTLYENV.BASE_URL = "https://plot.ly";
    Plotly.newPlot("be1b23d3-cbd7-4a2b-8da7-d367f7853961", [{
        "type": "choropleth",
        "autocolorscale": true,
        "locations": ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK",
            "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
        ],
        "z": [156.0, 18.0, 317.0, 38.0, 13746.0, 990.0, 357.0, 194.0, 840.0, 565.0, 56.0, 184.0, 942.0, 489.0, 252.0, 157.0, 688.0, 130.0, 209.0, 425.0, 535.0, 1101.0, 452.0, 71.0, 1032.0, 120.0, 94.0, 101.0, 252.0, 483.0, 98.0, 1969.0,
            828.0, 80.0, 718.0, 210.0, 1905.0, 1730.0, 69.0, 330.0, 44.0, 474.0, 981.0, 127.0, 194.0, 776.0, 1824.0, 35.0, 736.0, 21.0
        ],
        "locationmode": "USA-states",
        "marker": {
            "line": {
                "color": "rgb(255,255,255)",
                "width": 2
            }
        },
        "colorbar": {
            "title": "Number of Applications"
        }
    }], {
        "title": "Applications by State",
        "geo": {
            "scope": "usa",
            "projection": {
                "type": "albers usa"
            },
            "showlakes": true,
            "lakecolor": "rgb(255, 255, 255)"
        }
    }, {
        "showLink": false,
        "linkText": "Export to plot.ly"
    })
</script>
