<div id="bb6d5124-8de7-4f12-a190-781a0839a41f" class="plotly-graph-div"></div>
<script type="text/javascript">
    window.PLOTLYENV = window.PLOTLYENV || {};
    window.PLOTLYENV.BASE_URL = "https://plot.ly";
    Plotly.newPlot("bb6d5124-8de7-4f12-a190-781a0839a41f", [{
        "type": "bar",
        "x": [1, 2, 3, 4, 5],
        "y": [5047, 3801, 605, 84, 14]
    }], {
        "title": "Graphic Art per Application",
        "xaxis": {
            "title": "Number of Images"
        },
        "yaxis": {
            "title": "Number of Applications"
        }
    }, {
        "showLink": true,
        "linkText": "Export to plot.ly"
    })
</script>
